<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quote.name %>
</p>

<p>
  <b>Description:</b>
  <%= @quote.description %>
</p>

<p>
  <b>Costperhour:</b>
  <%= @quote.costperhour %>
</p>



<h2>Cases</h2>
<%= render :partial => "cases/c", :collection => @quote.cases %>

<%= 'tamaño : ' + @quote.cases.size.to_s%>

<%= link_to 'New Case', new_quote_case_path(@quote) %> |


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
