<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quote.name %>
</p>

<p>
  <b>Description:</b>
  <%= @quote.description %>
</p>

<p>
  <b>Costperhour:</b>
  <%= costo = @quote.costperhour %>
</p>
<p>
  <b>Total hr code:</b>
  <%= code= @quote.cases.sum (:code)%>
</p>
<p>
  <b>Total hr design:</b>
  <%= design = @quote.cases.sum(:design)%>
</p>
<p>
  <b>Total: $ <%= total = (design + code) * costo %></b>
</p>

<%= link_to 'Edit', edit_quote_path(@quote), :class => "btn btn-primary" %> |
<%= link_to 'Back', quotes_path, :class => "btn btn-primary" %>

<h2>Cases</h2>
<div id='allcases'>
<%= render :partial => "cases/c", :collection => @quote.cases.order("created_at DESC") %>
  <% @quote.cases.order("created_at DESC")%>
  <% if @quote.cases.empty?%>
  <h6>Create your first case</h6>
  <%end%>
</div>
 


<div id="myModal" class="modal hide fade">
           <div class="modal-header">
             <a class="close" data-dismiss="modal" >&times;</a>
             <h3>Modal Heading</h3>
           </div>
            <%= render 'form1'%>
            
</div>

<br/>

<a data-toggle="modal" href="#myModal" class="btn btn-success">New Case</a> |







