<table class="table table-striped table-condensed">
  <thead>  
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tipo</th>
      <th>HoursProgramador</th>
      <th>HoursDesign</th>
      <th>Base</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= c.name %></td>
      <td> <%= c.description %></td>
      <td><% if c.tipe == true %>
            <%= c.tipe = 'Feature'%>
          <% else %>
            <%= c.tipe = 'Case'%>
          <% end %></td>
      <td> <%= c.code %></td>
      <td><%= c.design %></td>
      <td><% if c.base == true %>
            <%= c.base = 'Si es'%>
          <% else %>
            <%= c.base = 'No es'%>
          <% end %></td>
    </tr>
  </tbody>

</table>

<%= link_to 'Destroy', [c.quote, c], :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete  %>
<%= link_to 'Edit', edit_quote_case_path(c.quote, c), :class => "btn btn-info"  %>

<br/>
<br/>
